<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ClienteController</display-name>
    <servlet-name>ClienteController</servlet-name>
    <servlet-class>controller.ClienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteController</servlet-name>
    <url-pattern>/ClienteController</url-pattern>
  </servlet-mapping>
  <display-name>srilankalab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ProdutoServlet</servlet-name>
    <servlet-class>servlet.ProdutoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>clientes</servlet-name>
    <servlet-class>controller.ClienteControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoServlet</servlet-name>
    <url-pattern>/ProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>clientes</servlet-name>
    <url-pattern>/clientes</url-pattern>
    <url-pattern>/clientes/novo</url-pattern>
    <url-pattern>/clientes/editar</url-pattern>
    <url-pattern>/clientes/update</url-pattern>
    <url-pattern>/clientes/excluir</url-pattern>
    <url-pattern>/clientes/listar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarrinhoServlet</display-name>
    <servlet-name>CarrinhoServlet</servlet-name>
    <servlet-class>servlet.CarrinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarrinhoServlet</servlet-name>
    <url-pattern>/CarrinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatórioVendasServlet</display-name>
    <servlet-name>RelatórioVendasServlet</servlet-name>
    <servlet-class>servlet.RelatórioVendasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatórioVendasServlet</servlet-name>
    <url-pattern>/RelatórioVendasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioVendasServlet</display-name>
    <servlet-name>RelatorioVendasServlet</servlet-name>
    <servlet-class>servlet.RelatorioVendasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioVendasServlet</servlet-name>
    <url-pattern>/RelatorioVendasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarPedidoServlet</display-name>
    <servlet-name>RegistrarPedidoServlet</servlet-name>
    <servlet-class>servlet.RegistrarPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarPedidoServlet</servlet-name>
    <url-pattern>/RegistrarPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarClienteServlet</display-name>
    <servlet-name>AtualizarClienteServlet</servlet-name>
    <servlet-class>servlet.AtualizarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarClienteServlet</servlet-name>
    <url-pattern>/AtualizarClienteServlet</url-pattern>
  </servlet-mapping>
</web-app>